/*  //////////////////////////////////////////////////
    Subj:   Coding Dojo > Web Fundaments > CSS    
            User Card
    By:     Virgilio D. Cabading Jr.
    Date:   October 13, 2021
    ////////////////////////////////////////////////// */

* {
    padding: 0px;
    margin: 0px;
}

.user_card {
    border-color: dodgerblue;
    border-width: 4px;
    border-style: solid;
    border-radius: 20px;
    margin: 100px;
    width: 800px;
}

.header_area {
    background-color: dodgerblue;
}

.content_area {
    display: flex;
    flex-direction:column;
    padding: 50px 10px 10px 10px;
    font-size: 18px;
}

.content_area>* {
    margin: 5px;
}

.edit_profile {
    color: dodgerblue;
}

h1 {
    font-size: 30px;
}

#user_image {
    position: relative;
    left: 20px;
    top: 50px;
}